

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body { height: 100% }

body {
	/* put content in the middle */
	width: 100%;
	padding-top: 60px;
	font:16px/22px 'AvenirLTStd-Light', Helvetica, Arial, sans-serif;
}
a { text-decoration: none; }
p { color: #000; }

::-moz-selection { background-color: #FFA; color: #000; }
::selection { background-color: #ff8080; color: #ff8080; }

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	padding: 20px 0% 0% 2%;
	background-color: white;
	color: #ff8080;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	background-image: url(../images/logo.svg);
	background-repeat: no-repeat;
	background-position: 1%;
	/*layers z-index*/
	z-index: 1;
}

.title {
	position: absolute;
	right: 5%;
	top: 31px;
	font-size: 14px;
	line-height: 20px;
}




header p { color: #999; }

#nav li, h2, h3 {
	padding-right: 10%;
	font-size: 36px;
	line-height: 48px;
	color: white;
	font-weight: 700;
	font-family: 'AvenirLTStd-Heavy', Helvetica, Arial, sans-serif;
	webkit-font-smoothing: antialiased; 
	letter-spacing: 0px;
}

li {
	line-height: 24px
}

li:first-child {
	margin-top: 10px;
}


h3 { color: #ff8080; }

section {
	height: 100%;
	background-position: center;
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	display: block;
	padding: 50px 10% 10% 25%;
	/* make the .content areas position relative to me */
	/* cover means it fills the width of the browser*/	
}

.lefttext {
	position: absolute;
	top: 60px;
	left: 2%;
	width: 20%;
	color: white;
	line-height: 36px;
	font-weight: 300;

	border-top-style: solid;
	border-top-width: 4px;
	border-top-color: white;

	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: white;
}
/* grey */
.grey  { background: #000; }
.grey p { color: white; }
.grey a:hover { color: #ff8080;  }
.grey a { color: white; -webkit-transition: all ease .2s; }



/* red */
.red { background: #ff8080; }
.red p { color:white; margin-bottom: 10px; }
.red a { color: white; -webkit-transition: all ease .2s; }
.red a:hover { border-bottom: 1px solid white; }

/* white */
.white { }
.white p { color: #999; margin-bottom: 20px; }
.white a { color: #999; }
.white a:hover { border-bottom: 1px solid #999; }
.white .lefttext { color: #f993a2; border-color: #f993a2; }

.bold { font-family: 'AvenirLTStd-Heavy', Helvetica, Arial, sans-serif; }
.medium { font-family: 'AvenirLTStd-Roman', Helvetica, Arial, sans-serif; }
.regular { font-family: 'AvenirLTStd-Light', Helvetica, Arial, sans-serif; }  

.rational {
	position: absolute;
	top: 200px;
	left: 2%;
	width: 15%;
	color: #ff8080;
}

.image {
	position: absolute;
	top: 210px;
	left: 40%;
	margin: -150px 0 0 -150px;
}

.container {
	position: absolute;
	left: 50%;
	top: 30%;
	width: 30%;
	height: 30%;
	background-color: #ff8080;
	text-align: center;
}

#break1 { background-image: url(../images/hero4.jpg); }
#break2 { background-image: url(../images/hero.jpg); }
#break3 { background-image: url(../images/Break_1.jpg); }
#break4 { background-image: url(../images/hero5.jpg); }

footer {
   position:fixed;
   left:2%;
   bottom:0px;
   height:36px;
   text-align: center;
   width: 20%;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   background-color: #ff8080;
   z-index: 1;
   padding: 10px 25px 0 25px;
}

footer a { color: white; }
a.left { float: left; -webkit-transition: all ease .2s; }
a.right { float: right; -webkit-transition: all ease .2s; }
a.left:hover { -webkit-transform:translate(-5px,0px); }
a.right:hover { -webkit-transform:translate(5px,0px); }